header , aside ,main{
  border: 1px solid black;
}

#wrapper{
  width: 80%;
  min-width: 340px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  background-color: pink;
}
 aside{
   width: 10%;
   box-sizing: border-box;
   float: left;
   clear: left;
 }



 /* main section */
#main-bar{

  -webkit-box-shadow: inset 7px 0px 7px 2px rgba(0, 50, 7, 0.31);
  -moz-box-shadow:    inset 7px 0px 7px 2px rgba(0, 50, 7, 0.31);
  box-shadow:         inset 7px 0px 7px 2px rgba(0, 50, 7, 0.31);
}


main{
  width: 90%;
  float: right;
  box-sizing: border-box;
}
.upload-section{
  border: 1px solid black;

}
.navigation-bar{
  height: 68.6px;

  background-color: #fff;
}
.center-content{
  background-color: grey;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 80px;
  width: 70%;

  text-align: center;
}
.url,.upload-section{
 padding: 10px;
 margin:  10px 30px;
  background-color: yellow;
}
.url{

length: 5rem;


}







/* aside section */
img{
  width: 45%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  overflow: auto;

}
